
.front-indicator {
    width: 90%;
    margin: 10px auto;
	background-color: #f6f6f6;	
	color: #adadad;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
}

.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 36px;
	width: 36px;
	line-height: 25px;
	
}
div#legend .seatCharts-cell {
    height: 32px;
    width: 32px;
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 45px;
}
div.seatCharts-seat {
    background-image: url(../svg/seate-green.svg);
    background-color: transparent !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -99999px;
    transition: all .2s ease-in;
}
div.seatCharts-seat.available.first-class,
div.seatCharts-seat.first-class.focused,
div.seatCharts-seat.first-class.selected{
    background-image: url(../svg/seate.svg);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -99999px;
    transition: all .2s ease-in;
}
div.seatCharts-seat.first-class.focused,
div.seatCharts-seat.focused{
    background-image: url(../svg/seate-red2.svg);
    background-color: transparent;
}
div.seatCharts-seat.first-class.selected,
div.seatCharts-seat.selected{
    background-image: url(../svg/seate-red.svg);
}
div.seatCharts-seat.selected {
	background-color: #E6CAC4;
}
div.seatCharts-seat.unavailable {
	/*background-color: #4c4c4c;*/
    background-image: url("../svg/seate-blue.svg");
	text-indent: -99999px;
}
div.seatCharts-container {
	border-right: 1px dotted #adadad;
    width: 30%;
    margin-left: 20%;
	padding: 20px;
	float: left;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    div.seatCharts-container {
        margin-left: 0;
        padding: 0;
    }
}
@media screen and (max-width: 991px) and (min-width: 654px){
    div.seatCharts-container {
        width: unset;
        margin-left: 12%;
    }
}
@media screen and (max-width: 653px) and (min-width: 320px){
    div.seatCharts-container {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    div.seatCharts-legend {bottom: 77px !important;}
}

div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom: 16px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
.checkout-button {
    background: #b58a60 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    padding: 6px 33px;
    border-radius: 10px;
    margin: 10px;
}
#selected-seats {
	max-height: 90px;
	overflow-y: scroll;
	overflow-x: none;
    width: 284px;
}
